    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Presentations by experts, for beginners.</h2>
                <p>Most conferences are by experts, for experts. </p>
                <p><em>Access to {AI}</em> is different.</p>
                <p>It's an opportunity for programmers who are new to AI and Machine Learning to learn from developers who already use it in production.</p>
                <p><em>Access to {AI}</em> will consist of lectures by professional AI and machine learning developers who use these skills on the job every day, and they're tailoring their talks specifically for programmers who've never done AI or ML before.</p>
                <p><strong>Learn the technologies and their practical, everyday uses in one sitting.</strong></p>
                <a href="#register" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>