    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Show up. Leave with working code.</h2>
                <p>Most conferences are by experts, for experts. </p>
                <p><em>Access to {AI}</em> is different.</p>
                <p>It's an opportunity for programmers who are new to AI and Machine Learning to learn from developers who already use it in production.</p>
                <p><em>Access to {AI}</em> will consist of lectures AND workshops.</p>
                <p><strong>Learn new concepts in the morning. Use them in the afternoon.</strong></p>
                <a href="#register" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>