    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Access to {AI}</h1>
                        <p class="intro-text">An organization for introducing developers to machine learning and artificial intelligence.</p>
                        <h2>Our November conference has been postponed, but sign up for updates about future ones!</h2>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>