    <!-- Register Section -->
    <section id="register" class="content-section text-center">
        <div class="register-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Purchase Tickets</h2>
                    <p>Each ticket covers both days, November 12th and 13th, 2015.</p>
                    <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=18567178932&ref=etckt" frameborder="0" height="244" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="none" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
                    <h2>Register for Updates</h2>
                    <p>Subscribe for updates on <em>Access to {AI}</em>.</p>
                    <p>We'll let you know about upcoming conferences, when we publish videos from previous talks, and occasional updates about <em>Access to {AI}</em>.</p>
                    <a href="http://eepurl.com/buUzSb" target="blank" class="btn btn-default btn-lg">Register for Updates</a>
                </div>
            </div>
        </div>
    </section>