    <!-- Register Section -->
    <section id="register" class="content-section text-center">
        <div class="register-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Register for Updates</h2>
                    <p>Subscribe for updates on <em>Access to {AI}</em>.</p>
                    <p>We'll let you know once tickets go on sale, when we publish videos from previous talks, and occasional updates about <em>Access to {AI}</em>.</p>
                    <a href="http://eepurl.com/buUzSb" target="blank" class="btn btn-default btn-lg">Register for Updates</a>
                </div>
            </div>
        </div>
    </section>